.gridgg
{
    height: 420px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: grey;*/
    /* background-color: rgb(170,215,81); */
}


.cell
{
    height: 42px;
    width: 42px;
    /* background-color: red; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: blue; */
    font-size: 20px;
    font-weight: 700;
}

.odd
{
    background-color: rgb(162,209,73);
    border-color:rgb(162,209,73);
}
.even
{
    background-color: rgb(170,215,81);
    border-color: rgb(170,215,81);
}

.even.checked
{
    background-color: rgb(229,194,159);
    border-color: rgb(229,194,159);
}
.odd.checked
{
    background-color: rgb(215,184,153);
    border-color: rgb(215,184,153);
}

.bomb
{
    
}
.checked
{
    /*background-color: white;*/
    /* background-color: rgb(229,194,159); */
}

.centerdiv
{
    
    width:420px;
    height:480px;

    /* The magic centering code */
    margin:auto;
    position:absolute;
    top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
    left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

    /* Prevent div from overflowing main window */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.gametopbar
{
    height: 60px;
    width: 420px;
    background-color: rgb(74,117,44);
}

.gamehead
{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 450px) {
    .gridgg
    {
        height: 350px;
        width: 350px;
    }
    .centerdiv
    {
        width:350px;
        height:400px;

    }
    .cell
    {
        height: 35px;
        width: 35px;
    }
    .gametopbar
    {
        height: 0px;
        width: 350px;
    }
  }
  